* {
  font-family: sans-serif;
}
body {
  background-color: #9fd3c7;
}
.canvas {
  background-color: white;
  margin-top: 5px;
  margin-left: 5px;
  stroke-width: 0px;
}
.penoperation,
.canvasoperation {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  width: 1000px;
}
button {
  border: none;
  background-color: #ececec;
  padding: 5px 100px;
  border-radius: 5px;
}
.pencolor,
.backgroundcolor {
  border: none;
  background-color: #9fd3c7;
}
.penoperation > div > p,
input {
  margin-bottom: 5px;
}
